
<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">

	<link rel="stylesheet" href="css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<a href="index.html"><img src="images/mathru-logo2.png" alt="logo"/></a>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li class="active"><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_2.jpg);">
				<div class="desc animate-box">
					<h2>We seek your help in creating awareness in the community on the <strong>challenges faced by the paraplegics.</strong></h2>
					<span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
				</div>
			</div>

		</div>
		
		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>How we started.</h3>
						<p>Paraplegic brave heart, Arjuna awarded and padmashree Malathi K.Holla, afflicted by polio at infancy, stands tall in the world of paraplegic sports in india by sheer grit and determination and has won medals around the world.This 45 year old Bank Manager has launched the "Mathru Fountation" to serve the physically challenged with motherly care...
						<br><br>Lending her a helping hand are the former International sprinter Ashwini Nachappa, International Cricketer Venkatesh Prasad, Krishna Reddy H.T. and Dr.Sridhar M.K. both physically challenged and Anantha Bhat M., a leading advocate</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-12 text-center animate-box">
						<p><img src="images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="images/cover_bg_2.jpg" alt="" class="img-responsive"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="images/cover_bg_3.jpg" alt="" class="img-responsive"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>Our goals</h3>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Short term</h3>
							<p>The foundation is already looking after 17 children for the past 5 years by way of providing them free facilities like food, accommodation, education and medical support</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Medium Term</h3>
							<p>We would like to take on more number of people based on the financial viability<br>

								We want to start the process of vocational development to build self confidence and work towards financial independence<br>
								
								Injury largely due to accidents or infection of spinal cord severely affect the lower extremities and render the paraplegic with no control over their bladder and bowels. They easily succumb to associated medical complications.They feel unwanted and their morale hit a new low.In order to provide them a medical care, we have to establish a medical care centre and instill self confidence in them by giving vocational training</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Long Term</h3>
							<p>Create our own center which will address our purpose for larger scale by slowly moving towards self-sustainability.</p>
						</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>

		
		<div id="fh5co-portfolio">
			<div class="container">

				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
						<h3>Our Gallery</h3>
						<p>Children in our care</p>
					</div>
				</div>

				
				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_1.jpg); ">
								<a href="#" class="color-3">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
						
							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_3.jpg); ">
								<a href="#" class="color-4">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_1.jpg); "> 
								<a href="#" class="color-5">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_3.jpg); ">
								<a href="#" class="color-6">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
						</ul>		
					</div>
				</div>

				
			</div>
		</div>
		

		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Support Team</h3>
						<p>Mathru Foundation's heart and soul</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="images/Kumaraswamy.jpg" alt="user">
							</figure>

							<div>
								<h3>Mr. Kumaraswamy</h3>
								<p><span>5 years</span></p>
								<p>Mr. Kumaraswamy is 29 yr old basically from Shimoga, now stays in Bangalore. He was working as an office assistant in an MNC.<br>
									He has been working as a supporting staff for the foundation with a nominal fee after requested by Ms. Malathi Holla.<br>
									Helps with all the work in the foundation - from driving and cooking to a plumbing</p>
							</div>
							
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="images/Mahesh.jpg" alt="user">
							</figure>
							<div>
								<h3>Mr. Mahesh Badami</h3>
								<p><span>5 years</span></p>
								<p>Mr. Mahesh Badami,23 years old, is from Gadag district with a great energy level. He is like the right hand of Ms. Holla when it coomes to taking care of the foundation. He takes care of all children very affectionately, and helps with all their activities.<br>


									He is very out spoken and easy going yet a very caring person. He believes in accepting his mistakes and correcting them because that is the way one learns.</p>
							</div>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="images/Yosodama.jpg" alt="user">
							</figure>
							<div>
								<h3>Mrs. Yosodama</h3>
								<p><span>2 years</span></p>
								<p>Mrs. Yosodama is a cook. She is 50 yrs old. She takes care of all children very affectionately, for all their activities.</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-content-section -->

		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	
	<!-- Main JS -->
	<script src="js/main.js"></script>

	</body>
</html>

